.text{
opacity: 0.6;
color: black;
}
.jumbotron{
    background: url("car.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40em;
}
